h1{
  color: #ffffff;
  font-size: 2.5rem;
  font-family: "Opens Sans" , sans-serif;
  background-color: #B64EFF;
  text-align:center;
}

.intro {
  text-align: left;
}

img {
  width:75%;
  border: 0;
}

body {
  margin: 0 auto;
  font-family: "Open Sans" , sans-serif;
  text-align: center;
  width: 80%;
  border: 1px;
  background-color: #D4B2FF;
}
.first{
  text-align: center;
  font-size: 4em;
  font-family: "Helvetica" , sans-serif;
  color: #ffffff;
  background-color: #D4B2FF;
}

p{
  font-family: 'Roboto', sans-serif;
}

img {
  width: 50%;
  border:0;
}

ul{
  list-style-type: none;
  padding: 2px 3px;
  background-color: #B64EFF;
  font-weight: bold;
}

a {
  color: #080708;
}
a:hover {
   color: #080708;
}

/* =================================
  Flexbox
==================================== */

.container {
	display: flex;
  height: 200px;
  align-content: space-between;
	flex-direction: column-reverse;
}

@media (min-width: 600px) {
	.container {
		flex-direction: row;
		justify-content: center;
	}
}

@media (min-width: 800px) {

	.item-1 {
		margin-right: auto;
	}
}
